*.o
*.so
*.so.*
*.prl
Makefile
*.pc
*.moc
*~
*.swp
debian/tmp
debian/files
debian/*.debhelper
stamp-*
moc_*
qrc_*
*.user
*.kdev*
*.orig
.project
.cproject
gen_*
.dotest/*
*.gcda
*.gcno
docs/*
configure-stamp
build-stamp
debian/*.debhelper.log
debian/*.substvars
qtc_packaging/debian_harmattan/carmspot/*
